extends layout

block content
	#wrapper
		header
		canvas(id="_c1")
		#fb-root
		// script(src="javascripts/facebookdebug.js")
		// script(src="javascripts/facebook.js")

	//
		script(src="javascripts/jquery.js")
		script(src="javascripts/caat.js")
		script(src="javascripts/game/namespace.js")
		script(src="javascripts/game/Constants.js")
		script(src="javascripts/game/ClUtils.js")
		script(src="javascripts/game/ClGui.js")
		script(src="javascripts/platform.js")
		script(src="javascripts/game/EventHandler.js")
		script(src="javascripts/game/PianoActor.js")
		script(src="javascripts/game/PianoScene.js")
		script(src="javascripts/game/PrefsScene.js")
		script(src="javascripts/clavioV2.js")

	script(src="javascripts/facebook.js")
