extends layout





block content

	//- svg(xmlns='http://www.w3.org/2000/svg', width='56', height='100')
	//-	rect(width='56', height='100', fill='#f8d203')
	//-	path(d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100', fill='none', stroke='#fff629', stroke-width='2')
	//-	path(d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34', fill='none', stroke='#ffe503', stroke-width='2')
	
	#wrapper
		header
		canvas(id="_c1")
		

	script(src="javascripts/jquery.js")
	script(src="javascripts/caat.js")
	script(src="javascripts/game/namespace.js")
	script(src="javascripts/game/Constants.js")
	script(src="javascripts/game/ClUtils.js")
	script(src="javascripts/game/ClGui.js")
	script(src="javascripts/platform.js")
	script(src="javascripts/game/EventHandler.js")
	script(src="javascripts/game/PianoActor.js")
	script(src="javascripts/game/PianoScene.js")
	script(src="javascripts/game/PrefsScene.js")
	script(src="javascripts/clavioV2.js")