/*
 * Import nib
 */
@import 'nib'
//@import url('http://fonts.googleapis.com/css?family=Quicksand')
// font-family 'Quicksand'
global-reset()

$max-width = 1024px;
$header-color = #E0E0E0;

center()
	

text3d(color)
	color: black
	text-shadow: 1px 1px 0px darken(color, 40%), 2px 2px 0px darken(color, 50%), 3px 3px 0px darken(color, 60%), 4px 4px 0px darken(color, 70%), 8px 8px 10px #888

html
	height: 100%; width: 100%;

svg
  display: none;

h1,h2,h3,h4,h5,h6,body,header,p
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: block;
	font-family: Sans-serif;


h1
	font-size: 2em;
h2
	font-size: 1.5em;

body
	width: 100%;

header
	margin: 0 auto 10px;
	width: $max-width;
	//background-color: $header-color;
	height: auto;
	display: block;
	//border-bottom 1px solid darken($header-color, 10%)
	//border-radius 0px 0px 5px 5px
	//background: #DDD;
	
	h1
		text-align: center;
		font-size: 15pt;
		padding: 10px 0 10px;
		

#innerpadding
	padding: 10px 15px;
	
	hgroup
		width: 60%;
		float: left;
		text-transform: uppercase;
		height: auto;
	h1
		font-weight:normal;
		color: #202020;
	
	h1 + h2
		margin-top: 5px;
		font-weight: bold;
		color: #E08090;
	div
		font-style:italic;
		text-align:right;
		color: #505050;
		font-size:70%;


#content
	box-sizing: border-box;
	border-radius: 5px
	margin: 0 auto;
	background: grey;
	width: $max-width;
	padding: 10px;
	display: block;

#wrapper
	position: fixed;
	height: 100%
	width: 100%
	overflow: hidden;
	background-color: #888;
	
#canvasBorder
	background-color: lighten(green,50%);
	border: 1px solid #CCCCCC;
	width: 800px; 
	height: 450px; 
	margin-left: auto;
	margin-right: auto;
	
canvas
	margin: 0 auto;
	padding: 0px;
	display: block;
	
canvas:after
	border: 5px solid #CCCCCC;

div#footer
	border-radius: 5px
	margin: 0 auto;
	width: $max-width;
	background-color: #E0E0E0;
	height: 300px;
	display: block;
	margin-top: 10px;
	
#cooldiv
	padding: 15px 0 30px;

.cool
	text-align: center;
	font-size: 25pt;
	text3d(#43B5F0);
	padding: 15px 0 30px;
.cooly
	padding: 15px 0 30px;
	font-size: 32pt
	text3d(#437AF0)
.cf
	clearfix()
	
	
	
	
	